// imports

@import "setup";


// $darkgrey: #555B6E;
// $blue-dark: #89B0AE;
// $blue-light: #BEE3DB;
// $off-white: #FAF9F9;
// $orange: #ffd6ba;
    // font-family: 'Noto Sans JP', sans-serif;

    // font-family: 'Open Sans Condensed', sans-serif;
    // https://colorhunt.co/palette/1649

    $white: #f0f5f9;
    $white-light: #c9d6df;
    $darker-grey: #52616b;
    $darkest-grey: #1e2022;


body {
  font-family: 'Noto Sans JP', sans-serif;
  // font-family: 'Open Sans Condensed', sans-serif;
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

header {
  // background: ;
  background-image: linear-gradient(to bottom, #87c0ed, #90bfeb, #97bfe9, #9fbee7, #a5bee5);  
  min-height: 100vh;
  .heading-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      width: 100%;
      text-align: center;
      padding: 50px;
      background-color: rgba($color:  #d1d9d7, $alpha: 0.3)
    }
    h1,
    h2 {
      font-size: 3rem;
      color: #fff;
      text-transform: lowercase;
      letter-spacing: 3px;
    }
    h2 {
      font-size: 2.2rem;
      letter-spacing: .2px;
    }
    ul{
      font-size: 2.4rem;
      padding: 0;
      a {
        color: #fff;
      }
    }
  }
}

@media (max-width: 400px) {
  header .heading-container div {
    padding: 0;
  }
}